*{
    font-family: 'Courier New', Courier, monospace;
    background-color: aqua;
}
h3,h1{
    color: purple;
}
#login,#signup{
    background-color: white;
}
.upvote{
    background-color:red;
    color: black;
}
